.converter label {
    margin-bottom: 10px;
    display: block;
}

.converter input, .converter select, .converter button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.converte button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.converte button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.converte label {
    margin-bottom: 10px;
    display: block;
}

.converte input, .converte select, .converte button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.converter button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.converter button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

