*{
  padding: 0;
  margin: 0;
}
nav{
 width: 70%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 10px 8px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

nav ul{
  display: inline-flex;
  margin: 15px;
  list-style: none ;
  margin: 0 20px;
  color: black;
  gap: 90px;
  font-size: 30px;
  background-color: #f7f7f7; color: b; width: 40pc;
  border-radius: 310px;
}
body{
  opacity: 0; 
  transform: translateX(-100%); 
  animation: appear 0.57s forwards;
}
@keyframes appear {
  0% { opacity: 0; transform: translateX(100%) }
  100% { opacity: 1; transform: translateX(0) }
}


.saviour{
  color:black;
  border-radius: 10px;
  background-color: #f7f7f7;
  position: absolute;
  left: 900px;
  z-index: 1;
} 
body{ background-image: url(musi\ \(2\).jpg );   background-repeat:  no-repeat repeat; background-size: 100% 100%;  background-position: center;}
.writup{ color: silver; font-size: 30px; padding: 80px;}
.pic{
  float: right; 
  position: absolute;
  right: 250px;
  top: 60px;
  

}
.Card{
  margin: 0% auto; 
  padding: 2em;
  width: 300px;
  background: #eee
;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 100px;
}
.Card::after, .card::before{
  content: "";
  position: absolute;
 height: 100%;
 width: 100%;
 background:linear-gradient( red,blue,yellow ,red);
 top:50%;
 left:50%;
 translate: -50%-50%;
 z-index: -1;
 padding: 6px;
 border-radius: 10px;
}
.sa{
  padding: 1em 2em;
    height: 200px;
    width: 200px;
  border: none;
  background-color: goldenrod;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 320px;


}
.sas{
  padding: 1em 2em;
  height: 200px;
  width: 200px;
  border: none;
  background-color: limegreen;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 550px;
 

}
.sav{
  padding: 1em 2em;
  height: 200px;
  width: 200px;
  border: none;
  background-color: teal;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 800px;

}
.win{ display: flex;
  justify-content: center;
  align-items: center;
color: silver;
position: absolute;
top: 1040px; width: 500px;
left: 400px;
}
.was{ display: flex;
  justify-content: center;
  align-items: center;
  color: silver;;
  position: absolute;
  top: 1170px;
  left:390px; 
  width: 500px;
  font-size: 20px;
}
.lonin{
  background-color: #f5f5f5;
  position: relative;
  top: 700px;
  left: 550px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;

}
input{
  width: 160px;
  height: 20px;
}
.you{ font-size: 50px;
  position: relative;
  left: 70px;

}
.lo{ position: relative;
  left: 120px;

}
.wanu{
position: absolute;
top: 1800px;
left: 300px;
color: white;
}
.sm{
  position: absolute;
  top: -10px;
  left: 10px;
  color: white;
}
.sms{
  position: absolute;
  top: 30px;
  left: 10px;
  color: white;
}
.smsv{
  position: absolute;
  top: 90px;
  left: 10px;
  color: white;
}
button{
  position: relative;
  top: 720px;
  left: 500px;
  width: 200px;
  padding: 15px;
  text-align: center;
  margin: 20px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;

}
button:hover span{
  border: none;

}
.box{
 width: 300px;
 position: absolute;
 top: 1800px;
 left: 200px;
}
.boxs{
  width: 300px;
  height:200px;
  position: absolute;
  top: 1800px;
  left: 500px;
}
.boxss{
  width: 300px;
  height:200px;
  position: absolute;
  top: 1800px;
  left: 800px;
}
.woo{
 position: absolute;
 top: 1780px;
 left: 600px;
 background-color: bisque; width: 160px;
 border-radius: 10px;
 
}


@media( max-width:375px){
  body{ background-image: url(musi\ \(2\).jpg);background-repeat:  no-repeat repeat;   width: 0px; background-position: center;}

  .pic{
    display: grid;
    position: absolute;
    right: -340px;
    top: 60px;
  
  }

  *{
    padding: 0;
    margin: 0;
  }
  nav{
   width: 0%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }
  
  nav ul{
    display: inline-flex;
    margin: 15px;
    list-style: none ;
    margin: 0 20px;
    color: black;
    gap: 10px;
    font-size: 15px;
    background-color: #f7f7f7; color: b; width: 40pc;
    border-radius: 310px;
    width: 0px;
  }
  .saviour{
    color:black;
    border-radius: 10px;
    background-color: #f7f7f7;
    position: absolute;
    left: 300px;
    z-index: 1;
  } 
  .writup{ color: white; font-size: 30px; padding: 80px; position: relative; top: 360px;}
  .Card{
    margin: 0% auto; 
    padding: 20px;
    width: 260px;
    background: #eee
  ;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 1380px;
    left: 28px;
  }
  .sa{
    padding: 1em 2em;
      height: 200px;
      width: 100px;
    border: none;
    background-color:  mint green;
    color:white ;
    border-radius: 10px;
   position: relative;
   top: 530px; left: 10px;
  font-size: 10px;
  }
  .sas{
    padding: 1em 2em;
    height: 200px;
    width: 100px;
    border: none;
    background-color: limegreen;
    color:white ;
    border-radius: 10px;
   position: absolute;
   top: 1580px; left: 130px;
  font-size: 8px;
  }
  .sav{
    padding: 1em 2em;
    height: 200px;
    width: 100px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
   position: relative;
   top: 300px; left: 240px;
  font-size: 8px;
  }
  .win{ display: grid;
    justify-content: center;
    align-items: center;
  color: white;
  position: relative;
  top: 410px; width: 500px;
  left: -50px;
  }
  .was{ display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    top: 450px;
    left:-50px; 
    width: 500px;
    font-size: 13px;
  }
  .lonin{
    background-color: rgb(0, 174, 255);
    position: relative;
    top: 500px;
    left: 50px;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
  
  }
  .wanu{
    position: relative;
    top: 530px;
    left: 100px;
    color: white;
    }
    .w{
background-color: black;
    }
    button{
      background-color: red;
      position: relative;
      top: 500px;
      left: 80px;
      width: 200px;
      padding: 15px;
      text-align: center;
      margin: 20px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #009688;
      background: transparent;
      color: white;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    span{
      background: #009688;
      height: 100%;
      width: 0%;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
    }
    button:hover span{
      width: 100%;
    
    }
    button:hover span{
      border: none;
    
    }
    .box{
     width: 300px;
     position: absolute;
     top: 2800px;
     left: 20px;
    }
    .boxs{
      width: 300px;
      height:200px;
      position: absolute;
      top: 3000px;
      left: 20px;
    }
    .boxss{
      width: 300px;
      height:200px;
      position: absolute;
      top: 3200px;
      left: 20px;
    }
    .woo{
     position: absolute;
     top: 2780px;
     left: 120px;
     background-color: bisque; width: 160px;
     border-radius: 10px;
     
    }
    
    
}
/* .writup{ color: black; font-size: 30px; position: absolute; top: 340px;}

.Card{
  margin: 0% auto; 
  padding: 2em;
  width: 300px;
  background: #eee
;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 1000px;
}
.sa{
  padding: 1em 2em;
    height: 200px;
    width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 1190px; left: 10px;
font-size: 10px;
}
.sas{
  padding: 1em 2em;
  height: 200px;
  width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: relative;
 top: 1190px; left: 130px;
font-size: 8px;
}
.sav{
  padding: 1em 2em;
  height: 200px;
  width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: relative;
 top: 1190px; left: 160px;
font-size: 10px;
}
.win{ display: flex;
  justify-content: center;
  align-items: center;
color: black;
position: relative;
top: 1100px; width: 500px;
left: -50px;
}

.was{ display: flex;
  justify-content: center;
  align-items: center;
  color: #000;;
  position: relative;
  top: 1170px;
  left:-50px; 
  width: 500px;
  font-size: 13px;
}

.lonin{
  background-color: rgb(0, 174, 255);
  position: relative;
  top: 1200px;
  left: 50px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;

}

.wanu{
  position: relative;
  top: 1300px;
  left: 100px;
  color: white;
  }














} */
