*{
  padding: 0;
  margin: 0;
}
nav{
 width: 70%;
 position: absolute;
 top: 0;
 left: 0;
 padding: 10px 8px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

nav ul{
  display: inline-flex;
  margin: 15px;
  list-style: none ;
  margin: 0 20px;
  color: black;
  gap: 90px;
  font-size: 30px;
  background-color: #f7f7f7; color: b; width: 40pc;
  border-radius: 310px;
}
body{
  opacity: 0; 
  transform: translateX(-100%); 
  animation: appear 0.57s forwards;
}
@keyframes appear {
  0% { opacity: 0; transform: translateX(100%) }
  100% { opacity: 1; transform: translateX(0) }
}


.saviour{
  color:black;
  border-radius: 10px;
  background-color: #f7f7f7;
  position: absolute;
  left: 900px;
  z-index: 1;
} 
body{ background-image: url(IMG-20240808-WA0008.jpg);background-repeat:  no-repeat repeat; background-size: 100% 100%;  background-position: center;}
.writup{ color: black; font-size: 30px; padding: 80px;}
.pic{
  float: right; 
  position: absolute;
  right: 250px;
  top: 60px;
  

}
.Card{
  margin: 0% auto; 
  padding: 2em;
  width: 300px;
  background: #eee
;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 100px;
}
.Card::after, .card::before{
  content: "";
  position: absolute;
 height: 100%;
 width: 100%;
 background:linear-gradient( red,blue,yellow ,red);
 top:50%;
 left:50%;
 translate: -50%-50%;
 z-index: -1;
 padding: 6px;
 border-radius: 10px;
}
.sa{
  padding: 1em 2em;
    height: 200px;
    width: 200px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 320px;


}
.sas{
  padding: 1em 2em;
  height: 200px;
  width: 200px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 550px;

}
.sav{
  padding: 1em 2em;
  height: 200px;
  width: 200px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: absolute;
 top: 790px; left: 800px;

}
.win{ display: flex;
  justify-content: center;
  align-items: center;
color: black;
position: absolute;
top: 1040px; width: 500px;
left: 400px;
}
.was{ display: flex;
  justify-content: center;
  align-items: center;
  color: #000;;
  position: absolute;
  top: 1170px;
  left:390px; 
  width: 500px;
  font-size: 20px;
}
.lonin{
  background-color: rgb(0, 174, 255);
  position: relative;
  top: 700px;
  left: 550px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;

}
input{
  width: 160px;
  height: 20px;
}
.you{ font-size: 50px;
  position: relative;
  left: 70px;

}
.lo{ position: relative;
  left: 120px;

}
.wanu{
position: absolute;
top: 1800px;
left: 300px;
color: white;
}
.sm{
  position: absolute;
  top: -10px;
  left: 10px;
  color: white;
}
.sms{
  position: absolute;
  top: 30px;
  left: 10px;
  color: white;
}
.smsv{
  position: absolute;
  top: 90px;
  left: 10px;
  color: white;
}

@media( max-width:375px){
  nav{
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;

    padding: 9px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   nav ul{
    display: inline-flex;
    margin: 3px;
    list-style: none ;
    margin: 2px;
    color: black;
    gap: 10px;
    font-size: 16px;
    
    background-color: #f7f7f7; color: b; width: 40pc;
    border-radius: 310px;
  }
  .saviour{
    color:black;
    border-radius: 10px;
    background-color: #f7f7f7;
    position: absolute;
    left: 20px;
    z-index: 1;
  } 
  .pic{
    float: right; 
    position: absolute;
    right: 50px;
    top: 60px;
    
  
  }
  .writup{ color: white; font-size: 30px; padding: 60px; position:relative ; top: 370px;}

  .Card{
    margin: 0% auto; 
    padding: 2em;
    width: 200px;
    background: #eee
  ;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 350px;
  }
  
.sa{
  padding: 1em 2em;
    height: 200px;
    width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: relative;
 top: 400px; left: 20px;
 font-size: 8px;


}
.sas{
  padding: 1em 2em;
  height: 200px;
  width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: relative;
 top: 410px; left: 21px;
 font-size: 8px;

}
.sav{
  padding: 1em 2em;
  height: 200px;
  width: 100px;
  border: none;
  background-color: wheat;
  color: black;
  border-radius: 10px;
 position: relative;
 top: 400px; left: 20px;
 font-size: 8px;

}
.win{ display: flex;
  justify-content: center;
  align-items: center;
color: black;
position: relative;
top: 640px; width: 500px;

left:-70px;
font-size: 27px;
}
.was{ 
  justify-content: center;
  align-items: center;
  color: #000;;
  position: relative;
  top: 650px;
  left: -80px;
  width: 500px;
  font-size:12px ;
}

body{
  opacity: 0; 
  transform: translateX(-100%); 
  animation: appear 0.7s forwards;
}
@keyframes appear {
  0% { opacity: 0; transform: translateX(100%) }
  100% { opacity: 1; transform: translateX(0) }
}
.lonin{
  background-color: rgb(0, 174, 255);
  position: relative;
  top: 780px;
  left: 24px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;

}

.wanu{
  position: relative;
  top: 790px;
  left: 60px;
  color: black;
  font-size: 10px;
  }

  .sm{
    position: absolute;
    top: 25px;
    left: 70px;
    color: white;
  }
  .sms{
    position: absolute;
    top: 63px;
    left: 60px;
    color: white;
  }
  .smsv{
    position: absolute;
    top: 130px;
    left: 90px;
    color: white;
  }





}




